$semantic-blue: #2185d0;
$exceed-blue: #004FEF;
$font-family: Montserrat, sans-serif;

@mixin linkToMentionUser {
	font-weight: bold;
	color: $exceed-blue;
	border-radius: 5px;
	padding: 0 5px;
	margin: 0 3px;
	background-color: rgba(0, 0, 0, 0.1);
}

@mixin button-without-background {
	width: fit-content;
	height: fit-content;
	padding: 6px !important;
	font-size: 1.3rem !important;
	background-color: transparent !important;
}

.drpdwn {
	margin: 5px 0 !important;
}

.receive {
	margin: 20px 35% !important;
}

.miniPopup {
	background-color: black !important;
	color: white !important;
	border-radius: 0;
	opacity: 0.7;
	padding: 1em;
}

.subcomment {
	display: flex;
	flex-wrap: wrap;
}

.mentionUser {
	@include linkToMentionUser;
}

.listOfActions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.code,
	.prettier {
		width: 45%;
	}
}

.Help {
	width: 300px !important;
	height: 450px !important;
	margin: 100px auto !important;
}

.size12 {
	font-size: 13px !important;
}

// client pages
.abc {
	display: flex;
	width: 100%;
	max-width: 1300px;
	height: 100%;
	margin-top: 2rem;
	margin: 0 auto;

	.content {
		display: flex;
		margin-top: 2rem;
	}
}