@mixin linkToMentionUser {
	font-weight: bold;
	color: #2185d0;
	border-radius: 5px;
	padding: 0 5px;
	margin: 0 3px;
	background-color: rgba(0, 0, 0, 0.1);
}

.drpdwn {
	margin: 5px 0 !important;
}

.receive {
	margin: 20px 0 !important;
}

.miniPopup {
	background-color: black !important;
	color: white !important;
	border-radius: 0;
	opacity: 0.7;
	padding: 1em;
}

.subcomment {
	display: flex;
	flex-wrap: wrap;
}

.mentionUser {
	@include linkToMentionUser;
}

.listOfActions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.code,
	.prettier {
		width: 45%;
	}
}

.Help {
	width: 300px !important;
	height: 450px !important;
	margin: 100px auto !important;
}