@import "../../styles/common/index.scss";

.alert {
	background-color: $semantic-blue;
	color: white;
	position: fixed;
	left: 20px;
	bottom: 20px;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.closebtn:hover {
	color: black;
}
