.post {
  margin: 2em;
  background-color: #FFFFFF;
  padding: 1em 1em 2em;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 680px;
}

.content img {
  max-width: 100%;
}

.content .CodeMirror {
  border: none;
  max-width: 680px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15em;
}
.clickable {
  cursor: pointer;
}
.textarea {
  overflow: hidden;
  background: #ffffff;
  padding: 10px;
  width: 100%;
}

.gradient {
  height: 350px;
  width: 95%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
  position: absolute;
  z-index: 5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.seeTitle {
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)); */
  background-color: rgba(255, 255, 255, .7);
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}
