.post {
  margin: 2em;
  background-color: #FFFFFF;
  padding: 1em 1em 2em;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.content img {
  max-width: 100%;
}

.content .CodeMirror {
  height: 500px;
  max-width: 680px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10em;
}
.clickable {
  cursor: pointer;
}