.content {
  margin: auto;
  padding: 2em 2em 3em;
  border-radius: 8px;
  max-width: 900px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.header {
  composes: flex from "../../../styles/common/index.css";
  composes: justify-between from "../../../styles/common/index.css";
  font-weight: 700;
  color: #384047;
  margin-top: 0.2em;
}

.button {
  composes: button from "../../../styles/common/index.css";
  color: #fff;
  background-color: #06799f;
  width: 5em;
  margin: 0px;
}
