.header {
  width: 100%;
  font-family: inherit;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 7;
  left: 0;
  top: 0;
  will-change: top;
}

.dropdown:hover .subMenu {
  opacity: 1;
}

.btn {
  composes: btn from "../../../styles/common/index.css";
  color: #FFF;
  background-color: #06799F;
  width: 125px ;
}

.headerLogged {
  composes: header;
  composes: justify-between from "../../../styles/common/index.css";
  composes: align-items_center from "../../../styles/common/index.css";
  background-color: white;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  height: 60px;
}

.headerNotLogged {
  composes: header;
  composes: justify-end from "../../../styles/common/index.css";
  composes: align-items_center from "../../../styles/common/index.css";
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0 40px;
}

.navLogged {
  composes: nav;
  max-width: 500px;
}

.navLoggedRight {
  composes: nav;
  max-width: 200px;
}

.navNotLogged {
  composes: nav;
  max-width: 350px;
}

.subMenu {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  transition: opacity .3s;
  opacity: 0;
  z-index: 8;
}

.drpdwn {
  margin: 10px 0;
}


.notActive {
display: none;
}