@mixin active-help {
	@if & {
		&.active {
			margin-left: -300px;
		}
	}
}

.postCreator {
	display: flex;
	justify-content: center;
	width: 100%;

	.leftSide {
		background-color: transparent;
		.createTheNewPost {
			width: 730px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
			background-color: white;
			border: 1px solid #ddd;
			transition: width 0.2s linear;
		}
		.publishPost {
			margin-bottom: 20px !important;
		}
	}

	.rightSide {
		width: 250px;
		height: 430px;
		background-color: white;
		border-radius: 8px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
		position: sticky;
		top: calc(60px + 2rem);
		padding: 10px;
		transition: 0.3s;
		margin-left: 30px;

		.header {
			text-align: center;
		}
		.listOfActions {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.code,
			.prettier {
				width: 45%;
			}
		}
		.link {
			font-size: 12px;
			text-align: center;
			margin-left: 12px;
			margin-bottom: 10px;
		}

		.closeBtn {
			width: fit-content;
			height: fit-content;
			padding: 6px !important;
			font-size: 1.3rem !important;
			position: relative;
			left: 80px;
			background-color: transparent !important;
		}
	}

	.active {
		opacity: 0;
		@include active-help;
	}
}