.createComment {
  margin: 0 auto;
  width: 50%;
}

.button {
  composes: button from "../../../styles/common/index.css";
  color: #fff;
  background-color: #06799f;
  margin: 0 auto;
  width: 35%;
  padding: 0.2em 0;
}
