@import "../../../styles/variables";

.leftMenu {
  width: $left-menu-max-width !important;
  min-width: $left-menu-max-width;
  height: fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: calc(60px + 2rem);
  .item {
    padding-left: 0 !important;
  }
}
