.leftMenu {
  width: 160px !important;
  margin: 0 2% auto 0 !important;
  position: sticky;
  top: calc(60px + 2rem);
}

@media only screen and (max-width: 1300px) {
  .leftMenu {
    margin-left: 2rem !important;
  }
}