.eventContainer {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
	padding: 20px;
	width: 840px;
	height: 652px;

	.someButton {
		display: flex;
		justify-content: space-between;

		.subscribeContainer {
			width: 200px;
			.button {
				margin: 10px 0;
				width: 120px;
			}
		}

		.radioContainer {
			width: fit-content;
			display: flex;
			flex-direction: column;
      margin: 10px 10px 0 0;
      
      .radio {
        font-size: 17px;
      }
		}
	}
}
