.createForm {
  position: absolute;
  margin-top: -50%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgb(250, 226, 226);
  padding: 2em 2em 3em;
  border-radius: 8px;
  max-width: 900px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.headerEvent {
  composes: flex from "../../../styles/common/index.css";
  composes: justify-between from "../../../styles/common/index.css";
}

.button {
  composes: button from "../../../styles/common/index.css";
  color: #fff;
  background-color: #06799f;
  width: 5em;
  margin: 0 3em 0 0;
}

.title {
  font-weight: 700;
  color: #384047;
  margin-top: 0.2em;
}

.submit {
  composes: button from "../../../styles/common/index.css";
  color: #fff;
  background-color: #06799f;
  width: 8em;
  margin: 0px;
}

.input {
  color: #384047;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin: 0.6em 0;
}

.inputTitle {
  composes: input;
  width: 100%;
}

.bottom {
  margin: 1em 0 0 0;
  composes: flex from "../../../styles/common/index.css";
  composes: justify-between from "../../../styles/common/index.css";
}

.subscribeContainer {
  width: inherit;
  composes: justify-end from "../../../styles/common/index.css";
}

.radio {
  /* display: inline-block; */
  cursor: pointer;
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.radioContainer {
  margin: 0 1.7em 0 0;
  composes: column from "../../../styles/common/index.css";
}

#internal {
  position: absolute;
  margin-top: 20%;
  margin-left: 30%;
  z-index: 10;
}


