@import "../../../styles/variables";

.list_container {
  width: $user-list-width;
  height: 85vh;
  overflow: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      width: 95%;

      .element {
        padding: 0.3rem 0.5rem;
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //background-color: rgba(118, 191, 217, 0.19);
        transition: all 0.3s ease;
        border-radius: $card-border-radius;
        cursor: pointer;

        &:hover,
        &.active {
          box-shadow: $card-shadow;
          //background-color: rgba(206, 232, 241, 0.1);
        }

        span {
          margin: 0.2rem;
        }
      }
    }
  }
}
